@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?8h6wzd');
	src:url('fonts/icomoon.eot?#iefix8h6wzd') format('embedded-opentype'),
		url('fonts/icomoon.ttf?8h6wzd') format('truetype'),
		url('fonts/icomoon.woff?8h6wzd') format('woff'),
		url('fonts/icomoon.svg?8h6wzd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
	content: "\e908";
	margin-right: 0.8em;
}
.icon-star-empty:before {
	content: "\e9d7";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;
}
.icon-arrow-up2:before {
	content: "\ea3a";
}
.icon-arrow-down2:before {
	content: "\ea3e";
	color: #DD4F24;
}
/*Lo anterior es para agregar icon fonts*/
/*Fuentes usadas en local svg iphone-ipad, eot explorer viejo, woff opera*/
a{
	color: #22BCE0;
}

body{
	background: #EEEEEE;
	font-family: "Open Sans";/*Fuente traida desde google fonts*/
	font-size: 16px;
}

footer{
	background: #22BCE0;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);/*color blanco con una transparencia del 70%*/
	padding: 1em;
}

footer p:first-child{/*a la primer etiqueta p que este dentro de footer se le aplicará*/
	margin-bottom: 0;
}

footer p:last-child{
	margin-top: 0;
}

footer p:last-child:before{
	content: "- ";
}

footer p:last-child:after{
	content: " -";
}

header{
	/*border: 1px solid red;/*Borde rojo del header*/
	background: #343B54;
	color: white;/*Ajustamos de color blanco las letras*/
	overflow: hidden;/*(Esconde lo que sobre)Sirve para ajustar y así los elementos queden acomodados así no quepan dentro de él*/
	padding: 0.5em;/*margen interno*/
	position: relative;/*hacemos que su posición predomine sobre los demás elementos dentro de ella*/
}

header figure{
	float: left;/*Hacemos "flotantes" a las figuras*/
}

header h1{/*Redefinimos la etiqueta h1*/
	font-style: 1.2em;
	font-weight: normal;
	margin: 0.2em 70px 0 0;/*quitamos los margenes por defecto que tiene (arriba) (derecha) (inferior) (izquierda)*/
}

header #avatar{
	margin: 0.5em 0.5em 0 0;/*Centramos el avatar*/
	position: absolute;/*Su posición dependerá totalmente de las cordenadas de header*/
	right: 0;/*lo pegamos a la derecha del header*/
	top: 0;/*lo pegamos a la parte superior del header*/
}

header #avatar img{
	border-radius: 50%;/*hace circular la iamgen*/
	width: 55px;
}

header #logo{
	-border-right: 1px solid white;/*Se agrega el borde lateral*/
	margin-right: 0.5em;
}

header #logo img{
	padding-right: 0.5em;
	margin-right: 0.5em;
	width: 52px;
	-webkit-transition:.5s;/*damos tiempo de transicion*/
}

header #logo img:hover{
	-webkit-transform:rotate(360deg);/*para que gire 360 cuando se posicionen sobre él*/
}

nav{
	background: #80BCA3;
	padding: 0 6em 0 0;
	position: relative;/*Mayor gerarquía de posiciones*/
}

nav ul{
	list-style: none;/*quitamos el estilo predefinido en las listas*/
	margin: 0;
	padding: 0;
}

nav ul #publicar_nav{
	position: absolute;/*Preparamos su posición, dependerá del nav*/
	top: -0.3em;
	right: 0;
}

nav ul #publicar_nav a{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 20px; /*(color) (x) (y) (difuminación)*/
	padding: 0.8em 0.5em 0.8em 2.5em;/*margen del botón*/
	text-decoration: none;/*quitamos la decoración por defecto*/
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px; /*(color) (x) (y) (difuminación)*/
}

nav ul #publicar_nav a:before{/*para centrar el lapíz*/
	position: absolute;
	left: .5em;
	top: .7em;
}

nav ul #publicar_nav a:hover:before{
	font-size: 20px;
}

nav ul li a:hover{
	background: #343B54;
}

nav ul li{
	display: inline-block;/*hacemos que uno este debajo del otro*/
	margin: 0 1em 0 0;
}

nav ul li a{
	color: white;
	display: block;/*Agregamos una caja para que pueda tener padding*/
	padding: 0.5em;/*hacemos que toda el área de la etiqueta se vuelva clikeable*/
	-webkit-transition:.3s;
}

video{
	display: none;/*ocultamos el video*/
}

#contenido{
	margin: 1em;
}

#contenido .item{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;/*altura minima*/
	position: relative;
}

#contenido .item .autor_item{
	color: #AAA;
}

#contenido .item .datos_item{
	margin-top: 1em 1em 0 0;
	text-align: right;
}

#contenido .item .datos_item .fecha_item{
	color: #AAA;
	margin-right: 1em;/*Recorremos un poco el tiempo*/
}

#contenido .item .datos_item .tag_item{
	background: #F4502A;
	border-radius: 0.5em;
	color: white;
	float: left;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#contenido .item .imagen_item{
	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion{
	background: white;
	border-radius: 0 0 0.5em 0.5em;/*arriba arriba abajo abajo*/
	position: absolute;
	top: 100%;
	width: 90%;
	left: 5%;
	margin-top: 3px;
	padding: 0.2 0.5em; 
}

#contenido .item .votacion a{
	text-decoration: none;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item{
	float: right;
}

/*Actuara cuando se mande a imprimir
@media print{
	body{
		font-size: 50px;
	}
}*/
/*Media Querys*/
@media screen and (min-width: 800px){/*esto se va a ejecutar cuando la pantalla sea mayor o igual a 800 pixeles*/
	
	#contenido{
		overflow: hidden;
	}

	#contenido .item{/*Colocamos el contenido a dos columnas*/
		width: 49%;
		float: left;
	}

	#contenido .item:nth-child(odd){/*Seleccionamos los hijos izquierdos*/
		margin-right: 2%;
	}
}

@media screen and (min-width: 1000px){
	aside{
		display: block;
		float: right;
		margin: 1em;
		width: 20%;/*20% de mi pagina*/
	}

	aside video{
		width: 100%;/*del aside*/
	}
}

/*
* Formulario
*/

.formulario{
	padding: 1em;
	text-align: right;
	display: none;
}

.formulario input{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}

.formulario input[type="submit"]{
	background: #22BCE0;
	border-color: #22BCE0;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	font-style: italic;
	text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px; 
	color: white;
}